*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: rgb(35, 51, 85);
    padding: 3rem;
    box-sizing: border-box;
    /*background-color: rgba(234, 241, 245, 0.274);*/
}

.tickets__list-item {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 50px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.env-logo {
    background-image: url("../img/env.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.jb-logo {
    background-image: url("../img/jb.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30%;
}

.fa-logo {
    background-image: url("../img/fa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.bxa-logo {
    background-image: url("../img/bxa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.lh-logo {
    background-image: url("../img/lh.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.lot-logo {
    background-image: url("../img/lot.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.wizz-logo {
    background-image: url("../img/wizz.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.ra-logo {
    background-image: url("../img/ra.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.af-logo {
    background-image: url("../img/af.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.ba-logo {
    background-image: url("../img/ba.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.klm-logo {
    background-image: url("../img/klm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.flight__header {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    font-weight: bolder;
    padding-left: 2rem;
}

.flights__list-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    border-color: lightgrey;
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    font-size: 1rem;
}

.date-group {
    display: table-cell;
    vertical-align: middle;
}

.plane-logo {
    display: inline-block;
    font-size: 2.3rem;
    padding-left: 1.5rem;
}

.date-group-text {
    display: inline-block;
    padding-left: 1.5rem;
}

.date-text {
    font-size: 1.4rem;
    font-weight: bold;
}

.flights__list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.flight-container {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr .5fr 1fr 1fr 1.5fr;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lavender;
}

.flight-start {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.4rem;
}

.flight-from {
    display: inline-block;
    padding-left: 1.3rem;
    font-size: 1.2rem;
}

.flight-duration {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1.3rem;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgb(171, 200, 233);
    clip-path: polygon(0% 40%, 75% 40%, 80% 50%, 75% 60%, 0 60%, 5% 50%);
}

.flight-end {
    display: inline-block;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.flight-info {
    text-align: center;
    color: rgb(241, 84, 36);
    margin-top: .5rem;
}

.flight-to {
    display: inline-block;
    padding-left: 1.3rem;
    font-size: 1.2rem;
}

.flight-logo {
    display: table-cell;
    vertical-align: middle;
}

.flight-details {
    display: inline-block;
    padding-left: .6rem;
    padding-right: .6rem;
}

.flight-price {
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    margin-top: .5rem;
}

.flight-price-info {
    text-align: center;
    color: rgb(108, 133, 150);
    margin-top: .5rem;
}

.select-btn {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(35, 51, 85);
    color: white;
    cursor: pointer;
    padding: .3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    text-align: center;
}

.select-btn:hover {
    background-color: rgb(66, 93, 151);
}

.flight-tab {
    display: table;
}

.flight-time {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.4rem;
}

.flight-city {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
}